<!-- <ion-header>
  <ion-navbar>
    <ion-title>Profile</ion-title>
  </ion-navbar>
</ion-header> -->


<ion-content padding class="background">
  <ion-card>
    <ion-card-content>
      <p>Name: {{username}}</p>
      <p>Email Id: {{email}}</p>
      <p>Age: {{age}}</p>
      <p>Occupation: {{occupation}}</p>
    </ion-card-content>
  </ion-card>
  <button class="button" ion-button (click)="Logout()" class="logoutBtn">LogOut</button>
</ion-content>
  
  <!-- <p>Uploaded pics:</p>
    <div *ngFor="let pic of global.picsData">
      <div *ngIf="logoimagedata && imagedata  ">
        <img src="{{pic.LogoUrl}}">
        <img src="{{pic.ImageUrl}}">
      </div>
      </div> -->
      
  


