page-profile {

    .background{
        background-color: chocolate;
    }

    ion-img {
        display: inline-block;
        min-width: 20px;
        min-height: 20px;
        background: null;
        contain: strict;
    }

    .logoutBtn{
        margin-top: 1em !important;
    }

}
