page-all-posts {
    .background{
        background-color: rgb(231, 218, 37);
    }

    ion-card{
        margin: auto !important;
        width: 70% !important;
        margin-top: 1.5em !important;
    }

}
