page-post {
    .background{
        background-color: indianred;
    }

    .outline{
        outline-color: greenyellow;
        outline-width: 2px;
        background-color: gold;
    }

    .background-card{
        background-color: dimgrey;
    }

    .showPostBtn{
        margin-top: 1em !important;
    }
}
