page-myposts {
    .background{
        background-color: rgb(219, 206, 23);
    }

    ion-card{
        margin: auto !important;
        width: 70% !important;
        margin-top: 1.5em !important;
    }



}
